 body {
    font-family: 'Varela';font-size: 15px;

}


/* ADvertisment box Top CSS */
.adbox-img {
    padding:8px;
    border: 1px solid #ababab;
    background-color : #e2e2e2;
}
.adbox-img img {
    border: 1px solid #ababab;
}


/* Top Filter Box */

.tfilter-box {
    padding:8px;
    border: 1px solid #ababab;
    background-color : #e2e2e2;
}

.form-control, select {
    display: block;
    width: 100%;
    height: 44px;
    border: 1px solid #ededed;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    color: #000;
    font-size: 14px;
    line-height: 1.42857143;
}
/* Card Box */
.price{
		font-size: 30px;
    	margin: 0 auto;
    	color: #333;
	}
	.right{
		float:right;
		border-bottom: 2px solid green;
	}
	.thumbnail{
		opacity:0.80;
		-webkit-transition: all 0.5s; 
		transition: all 0.5s;
		padding:15px;
		margin-bottom:25px;
	}
	.thumbnail:hover{
		opacity:1.00;
		box-shadow: 0px 0px 10px #e8500e;
	}
	.line{
		margin-bottom: 5px;
		
	}
	.ratings {
	    color:green;
	}
	@media screen and (max-width: 770px) {
		.right{
			float:left;
			width: 100%;
		}
	}
	
	
/* Generic CSS */

.bg-grey {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #f5f5f5;
}
.bg-dgrey {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #414551;
    color:#fff;
}


.TBpadding10 {
    padding-top:10px;
    padding-bottom:10px;
}

.paddingTB60{
    padding-top:60px;
    padding-bottom:60px;
}
.paddingTLR35 {
    padding: 15px 15px 15px;
}
.margin-b-30 {
    margin-bottom: 30px;
}
.margin-t-40 {
    margin-top: 90px;
    margin-bottom:2px;
    
}
.margin-b-20 {
    margin-bottom: 20px;
}


.margin-TB-30 {
    margin-bottom: 40px;
    margin-top:30px;
}
.icon {
    color : #e6e6e6;
    font-size:45px;
    padding-bottom:15px;
}
.icon2 {
    color : #ff8500;
    font-size:35px;
    padding-right:10px;
}
.border {
    background: #e2e2e2 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 20%;
    margin-bottom:35px;
    
}
.site-btn1 {
    background-color: #e8500e;
    height: 55px;
    line-height: 55px;
    border: none;
    padding: 0 55px 0 50px;
    border-radius: 3px;
    color: #ffffff;
   
 }
  .site-btn1:hover {
    background-color: #cb202d;
    height: 55px;
    line-height: 55px;
    border: none;
    padding: 0 55px 0 50px;
    border-radius: 3px;
    color: #ffffff;
    transition: all .5s ease-in;
  }
  .site-btn2 {
    padding: 10px 25px;
    font-size: 14px;
    color: #fff;
    background: #696969;
    cursor: pointer;
     border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
 }
  .site-btn2:hover {
    background-color: #e8500e;
    border-radius: 3px;
    transition: all .25s ease-in;
 }
 
  .site-btn3 {
    font-size: 14px;
    color: #fff;
    background: #696969;
    cursor: pointer;
     border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
 }
   .site-btn3:hover {
    background-color: #e8500e;
    border-radius: 3px;
    transition: all .25s ease-in;
 }
 
 a:hover, a:active, a:focus {
    outline: 0;
    text-decoration: none;
    color: #0d9de5;
}
a {
    color: #666666;
}
  /***************************************** */
  /* Site-Heading */
.site-heading h3 {
    font-size: 30px;
    margin-bottom: 17px;
    font-weight: 400;
    text-shadow:3px 4px 6px #90a4ae;
}
 /* Span Text Class */
 .p-color {
    color: #e53031;
}
/* List Group CSS */
.list-group-item {
    background-color: #e2e2e2;
}
.list-group-item a {
    color:#878787;
}
.list-group-item:hover {
    background: #e8500e;
    color:#878787;
}
.list-group-item a:hover {
    color: #878787;
}

.list-group-item.active {
    background: #696969;
    border-color: #fff;
    
}

.list-group-item.active:hover {
    background: #e8500e;
    border-color: #fff;
}
.list-group-item.active a {
    color: #fff;
    font-weight:400;
}
.list-group {
    border-radius : 0px;
    font-weight:400;
    
   
}
.list-group li a > i {
    color: #999;
    margin-right: 5px;
    font-size:8px;
}
.right-content-bg {
    margin-bottom: 1.875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 1px solid #ddd;
    background-color: #fff;

}
.card {
    width: 300px;
    height: 400px;
    margin-bottom:50px;       
            }
#listProduit{
width: 100%;
padding: 0px;
margin: 0px;

}


section{
    width: 100%;
}

















/*Navigation CSS */
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  letter-spacing: 0.8px;
  font-weight:500;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   padding-top:10px;
   padding-bottom:10px;
}
.navbar-default .navbar-brand {
  color: #454647;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #01509a;
}
.navbar-default .navbar-text {
  color: #454647;
}
.navbar-default .navbar-nav > li > a {
  color: #454647;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #01509a;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #454647;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #01509a;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #01509a;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #01509a;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #01509a;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #454647;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #454647;
}
.navbar-default .navbar-link {
  color: #454647;
}
.navbar-default .navbar-link:hover {
  color: #01509a;
}

/* footer section */

/* footer-top */
.footer-top {
    position: relative;
    background-color: #e2e2e2 ;
    color: #c5c5c5;
    padding: 55px 0 55px;
    border-top : 1px solid #c5c5c5;
    border-bottom : 1px solid #c5c5c5;
}
/* Footer */
.footer {
    position: relative;
    background-color: #e2e2e2;
     color: #696969;
    padding: 55px 0 40px;
}
.footer h5 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #696969;
    position: relative;
    padding-bottom: 16px;
}
.footer h5:after {
    content: '';
    display: block;
    margin: 5px 0 0;
    width: 40%;
    height: 1px;
    background-color: #696969;
}
.footer ul {
    list-style: none;
    line-height: 2.2em;
    padding-left:0px;
}
.footer ul a {
    color:#696969;
}
.footer ul a:hover {
    color:#e8500e;;
}
/*footer bottom */
.footer-bottom {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #e8500e;
    background: #d1d1d1;
    
}
.copyright-text p {
    color: #696969;
    margin-top: 18px;
    margin-bottom: 0;
    font-size:12px;
}

/*footer-social icon */
.bigpixi-footer-social {
    margin-left: auto;
    margin-top: 8px;
}

.bigpixi-footer-social__list-item {
    display: inline-block;
     margin-left: 10px;
}
.bigpixi-footer__icon-link {
    display: inline-block;
    -webkit-transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}
.bigpixi-footer-social__icon {
    display: inline-block;
    height: 32px;
    width: 32px;
    padding:5px;
    border : 1px solid #696969;
    border-radius:20px;
    
}

.bigpixi-footer-social__icon:hover {
    display: inline-block;
    padding: 2px;
    transition : .75s;
    background: #fff;
}